<a href="https://colab.research.google.com/github/afnanhabib787/Artificial-Intelligence/blob/main/fiver.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

In [8]:
csv_url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/pollution.csv'

In [9]:
original_df = pd.read_csv(csv_url)
original_df

          No  year  month  day  hour  pm2.5  ...  TEMP    PRES  cbwd     Iws  Is  Ir
0          1  2010      1    1     0    NaN  ... -11.0  1021.0    NW    1.79   0   0
1          2  2010      1    1     1    NaN  ... -12.0  1020.0    NW    4.92   0   0
2          3  2010      1    1     2    NaN  ... -11.0  1019.0    NW    6.71   0   0
3          4  2010      1    1     3    NaN  ... -14.0  1019.0    NW    9.84   0   0
4          5  2010      1    1     4    NaN  ... -12.0  1018.0    NW   12.97   0   0
...      ...   ...    ...  ...   ...    ...  ...   ...     ...   ...     ...  ..  ..
43819  43820  2014     12   31    19    8.0  ...  -2.0  1034.0    NW  231.97   0   0
43820  43821  2014     12   31    20   10.0  ...  -3.0  1034.0    NW  237.78   0   0
43821  43822  2014     12   31    21   10.0  ...  -3.0  1034.0    NW  242.70   0   0
43822  43823  2014     12   31    22    8.0  ...  -4.0  1034.0    NW  246.72   0   0
43823  43824  2014     12   31    23   12.0  ...  -3.0  1034.0    NW  249.85   0   0

[43824 rows x 13 columns]

In [10]:
output = original_df['pm2.5']
print(output)
output.isnull().sum()

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
43819     8.0
43820    10.0
43821    10.0
43822     8.0
43823    12.0
Name: pm2.5, Length: 43824, dtype: float64

2067

In [11]:
output.fillna(value=output.mean(),inplace=True)

In [12]:
output = original_df['pm2.5']
print(output)
output.isnull().sum()

0        98.613215
1        98.613215
2        98.613215
3        98.613215
4        98.613215
           ...
43819     8.000000
43820    10.000000
43821    10.000000
43822     8.000000
43823    12.000000
Name: pm2.5, Length: 43824, dtype: float64

0

In [13]:
df = original_df[['year', 'month', 'day', 'hour', 'DEWP', 'TEMP', 'PRES', 'Iws', 'Is', 'Ir']]
df

       year  month  day  hour  DEWP  TEMP    PRES     Iws  Is  Ir
0      2010      1    1     0   -21 -11.0  1021.0    1.79   0   0
1      2010      1    1     1   -21 -12.0  1020.0    4.92   0   0
2      2010      1    1     2   -21 -11.0  1019.0    6.71   0   0
3      2010      1    1     3   -21 -14.0  1019.0    9.84   0   0
4      2010      1    1     4   -20 -12.0  1018.0   12.97   0   0
...     ...    ...  ...   ...   ...   ...     ...     ...  ..  ..
43819  2014     12   31    19   -23  -2.0  1034.0  231.97   0   0
43820  2014     12   31    20   -22  -3.0  1034.0  237.78   0   0
43821  2014     12   31    21   -22  -3.0  1034.0  242.70   0   0
43822  2014     12   31    22   -22  -4.0  1034.0  246.72   0   0
43823  2014     12   31    23   -21  -3.0  1034.0  249.85   0   0

[43824 rows x 10 columns]

In [14]:
df.duplicated().any()

False

In [15]:
df.isnull().sum()

year     0
month    0
day      0
hour     0
DEWP     0
TEMP     0
PRES     0
Iws      0
Is       0
Ir       0
dtype: int64

In [16]:
df

       year  month  day  hour  DEWP  TEMP    PRES     Iws  Is  Ir
0      2010      1    1     0   -21 -11.0  1021.0    1.79   0   0
1      2010      1    1     1   -21 -12.0  1020.0    4.92   0   0
2      2010      1    1     2   -21 -11.0  1019.0    6.71   0   0
3      2010      1    1     3   -21 -14.0  1019.0    9.84   0   0
4      2010      1    1     4   -20 -12.0  1018.0   12.97   0   0
...     ...    ...  ...   ...   ...   ...     ...     ...  ..  ..
43819  2014     12   31    19   -23  -2.0  1034.0  231.97   0   0
43820  2014     12   31    20   -22  -3.0  1034.0  237.78   0   0
43821  2014     12   31    21   -22  -3.0  1034.0  242.70   0   0
43822  2014     12   31    22   -22  -4.0  1034.0  246.72   0   0
43823  2014     12   31    23   -21  -3.0  1034.0  249.85   0   0

[43824 rows x 10 columns]

In [17]:
df.shape

(43824, 10)

In [55]:
from sklearn.model_selection import train_test_split


y = output
X = df

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [56]:
X_train

       year  month  day  hour  DEWP  TEMP    PRES    Iws  Is  Ir
28987  2013      4   22    19     6  15.0  1012.0  34.87   0   0
14229  2011      8   16    21    21  27.0  1005.0  20.12   0   0
39840  2014      7   19     0    24  28.0  1007.0   3.57   0   0
2047   2010      3   27     7    -8   2.0  1026.0  13.86   0   0
16769  2011     11   30    17   -14   2.0  1037.0   0.89   0   0
...     ...    ...  ...   ...   ...   ...     ...    ...  ..  ..
7875   2010     11   25     3   -12  -5.0  1029.0   1.79   0   0
13221  2011      7    5    21    21  25.0   998.0   0.89   0   0
7124   2010     10   24    20     1   6.0  1029.0   8.94   0   0
25847  2012     12   12    23    -4  -3.0  1028.0   0.89   0   0
15999  2011     10   29    15     9  16.0  1020.0  11.63   0   0

[35059 rows x 10 columns]

In [70]:
X_train['year'].value_counts

<bound method IndexOpsMixin.value_counts of 28987    2013
14229    2011
39840    2014
2047     2010
16769    2011
         ...
7875     2010
13221    2011
7124     2010
25847    2012
15999    2011
Name: year, Length: 35059, dtype: int64>

In [21]:
y_train

9746     105.000000
38920     59.000000
15450     98.613215
28059    217.000000
31133     65.000000
            ...
28552     78.000000
36594     39.000000
2066      44.000000
41618     83.000000
39069    111.000000
Name: pm2.5, Length: 35059, dtype: float64

In [41]:
y_test.shape

(8765,)

In [48]:
#X_train = X_train.drop(['Is','Ir'], axis=1)
#X_test = X_test.drop(['Is','Ir'], axis=1)

In [44]:
X_train.shape

(35059, 8)

In [71]:
float_data = X_train.values

In [72]:
mean = float_data.mean(axis=0)
float_data -= mean
std = float_data.std(axis=0)
float_data /= std

In [73]:
float_data

array([[ 0.70911496, -0.73140679,  0.71205368, ...,  0.21581579,
        -0.06955113, -0.13807882],
       [-0.70500076,  0.42736182,  0.02960415, ..., -0.0775547 ,
        -0.06955113, -0.13807882],
       [ 1.41617282,  0.13766967,  0.37082891, ..., -0.40672632,
        -0.06955113, -0.13807882],
       ...,
       [-1.41205862,  1.00674613,  0.93953685, ..., -0.29991958,
        -0.06955113, -0.13807882],
       [ 0.0020571 ,  1.58613044, -0.4253622 , ..., -0.46003025,
        -0.06955113, -0.13807882],
       [-0.70500076,  1.00674613,  1.50824479, ..., -0.24641676,
        -0.06955113, -0.13807882]])

In [105]:
X_train2 = X_train.values
X_train2.shape

(35059, 10)

In [107]:
sample_size = X_train2.shape[0] # number of samples in train set
time_steps  = X_train2.shape[1] # number of features in train set
input_dimension = 1               # each feature is represented by 1 number

train_data_reshaped = X_train2.reshape(sample_size,time_steps,input_dimension)
print("After reshape train data set shape:\n", train_data_reshaped.shape)
print("1 Sample shape:\n",train_data_reshaped[0].shape)
print("An example sample:\n", train_data_reshaped[0])

After reshape train data set shape:
 (35059, 10, 1)
1 Sample shape:
 (10, 1)
An example sample:
 [[2013.  ]
 [   4.  ]
 [  22.  ]
 [  19.  ]
 [   6.  ]
 [  15.  ]
 [1012.  ]
 [  34.87]
 [   0.  ]
 [   0.  ]]

In [ ]:
#test_data_reshaped = test_data.reshape(test_data.shape[0],test_data.shape[1],1)

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras import layers
from tensorflow.keras.optimizers import RMSprop, Adam

n_timesteps = train_data_reshaped.shape[1] #13
n_features  = train_data_reshaped.shape[2] #1 

model = Sequential()
model.add(keras.layers.Input(shape=(n_timesteps,n_features)))
model.add(layers.Conv1D(32, 7, activation='relu'))
model.add(layers.MaxPooling1D(2))

model.add(layers.GlobalMaxPooling1D())
model.add(layers.Dense(1))

In [101]:
model.summary()
model.compile(loss='mse', optimizer=RMSprop(learning_rate=0.05), metrics=['mae'])
    

model.fit(X_train, y_train,
                    epochs=50,
                    batch_size=128,
                    validation_split=0.2)

Model: "sequential_13"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d_20 (Conv1D)          (None, 4, 32)             256

 max_pooling1d_13 (MaxPoolin  (None, 2, 32)            0
 g1D)

 global_max_pooling1d_8 (Glo  (None, 32)               0
 balMaxPooling1D)

 dense_8 (Dense)             (None, 1)                 33

=================================================================
Total params: 289
Trainable params: 289
Non-trainable params: 0
_________________________________________________________________
Epoch 1/50
220/220 [==============================] - 44s 6ms/step - loss: 8073.6440 - mae: 65.6115 - val_loss: 8078.1162 - val_mae: 66.1797
Epoch 2/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.4971 - mae: 65.6190 - val_loss: 8077.6470 - val_mae: 66.2043
Epoch 3/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.5674 - mae: 65.6127 - val_loss: 8077.7505 - val_mae: 66.1987
Epoch 4/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.5166 - mae: 65.6199 - val_loss: 8077.7319 - val_mae: 66.1996
Epoch 5/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.3145 - mae: 65.6736 - val_loss: 8077.9580 - val_mae: 66.1877
Epoch 6/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.3237 - mae: 65.5955 - val_loss: 8076.6421 - val_mae: 66.2854
Epoch 7/50
220/220 [==============================] - 1s 6ms/step - loss: 8073.4517 - mae: 65.6266 - val_loss: 8076.5732 - val_mae: 66.2934
Epoch 8/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.5220 - mae: 65.6554 - val_loss: 8076.3638 - val_mae: 66.3188
Epoch 9/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.3779 - mae: 65.7129 - val_loss: 8077.5801 - val_mae: 66.2079
Epoch 10/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.5132 - mae: 65.6118 - val_loss: 8076.9097 - val_mae: 66.2566
Epoch 11/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.4858 - mae: 65.6402 - val_loss: 8076.8452 - val_mae: 66.2634
Epoch 12/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.5044 - mae: 65.6638 - val_loss: 8077.2207 - val_mae: 66.2289
Epoch 13/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.3779 - mae: 65.6590 - val_loss: 8078.0107 - val_mae: 66.1850
Epoch 14/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.5391 - mae: 65.6148 - val_loss: 8078.2266 - val_mae: 66.1743
Epoch 15/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.4155 - mae: 65.6379 - val_loss: 8077.9785 - val_mae: 66.1867
Epoch 16/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.5146 - mae: 65.6067 - val_loss: 8078.1206 - val_mae: 66.1795
Epoch 17/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.4360 - mae: 65.5964 - val_loss: 8076.8706 - val_mae: 66.2608
Epoch 18/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.4458 - mae: 65.6671 - val_loss: 8077.0845 - val_mae: 66.2392
Epoch 19/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.4429 - mae: 65.6187 - val_loss: 8076.6494 - val_mae: 66.2846
Epoch 20/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.3491 - mae: 65.7010 - val_loss: 8078.1367 - val_mae: 66.1788
Epoch 21/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.5337 - mae: 65.6238 - val_loss: 8077.5693 - val_mae: 66.2085
Epoch 22/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.4883 - mae: 65.6312 - val_loss: 8077.4414 - val_mae: 66.2158
Epoch 23/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.4697 - mae: 65.6266 - val_loss: 8077.7432 - val_mae: 66.1990
Epoch 24/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.4961 - mae: 65.6467 - val_loss: 8077.4771 - val_mae: 66.2139
Epoch 25/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.4692 - mae: 65.6472 - val_loss: 8076.6909 - val_mae: 66.2800
Epoch 26/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.3647 - mae: 65.7149 - val_loss: 8077.7051 - val_mae: 66.2011
Epoch 27/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.2900 - mae: 65.5842 - val_loss: 8076.5791 - val_mae: 66.2928
Epoch 28/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.5039 - mae: 65.7066 - val_loss: 8077.1616 - val_mae: 66.2325
Epoch 29/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.5073 - mae: 65.6013 - val_loss: 8076.6948 - val_mae: 66.2795
Epoch 30/50
220/220 [==============================] - 1s 6ms/step - loss: 8073.2949 - mae: 65.6979 - val_loss: 8077.7290 - val_mae: 66.1999
Epoch 31/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.3970 - mae: 65.6657 - val_loss: 8078.4907 - val_mae: 66.1616
Epoch 32/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.5977 - mae: 65.6041 - val_loss: 8078.2886 - val_mae: 66.1713
Epoch 33/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.6143 - mae: 65.5633 - val_loss: 8077.3994 - val_mae: 66.2182
Epoch 34/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.5068 - mae: 65.5814 - val_loss: 8076.5327 - val_mae: 66.2982
Epoch 35/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.4819 - mae: 65.6749 - val_loss: 8077.7300 - val_mae: 66.1997
Epoch 36/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.3247 - mae: 65.5888 - val_loss: 8076.4658 - val_mae: 66.3061
Epoch 37/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.3838 - mae: 65.6737 - val_loss: 8076.8945 - val_mae: 66.2581
Epoch 38/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.5010 - mae: 65.6756 - val_loss: 8077.1938 - val_mae: 66.2305
Epoch 39/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.4717 - mae: 65.6727 - val_loss: 8077.3545 - val_mae: 66.2208
Epoch 40/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.4282 - mae: 65.6585 - val_loss: 8077.2344 - val_mae: 66.2281
Epoch 41/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.4780 - mae: 65.6415 - val_loss: 8077.5649 - val_mae: 66.2088
Epoch 42/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.4824 - mae: 65.6267 - val_loss: 8077.1548 - val_mae: 66.2330
Epoch 43/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.4771 - mae: 65.6878 - val_loss: 8077.5962 - val_mae: 66.2070
Epoch 44/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.5356 - mae: 65.6135 - val_loss: 8077.0586 - val_mae: 66.2418
Epoch 45/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.4478 - mae: 65.6939 - val_loss: 8077.4551 - val_mae: 66.2150
Epoch 46/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.5176 - mae: 65.6419 - val_loss: 8077.6562 - val_mae: 66.2037
Epoch 47/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.4771 - mae: 65.6007 - val_loss: 8077.3647 - val_mae: 66.2203
Epoch 48/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.5024 - mae: 65.6444 - val_loss: 8077.3716 - val_mae: 66.2199
Epoch 49/50
220/220 [==============================] - 1s 5ms/step - loss: 8073.5562 - mae: 65.6200 - val_loss: 8077.1709 - val_mae: 66.2320
Epoch 50/50
220/220 [==============================] - 1s 6ms/step - loss: 8073.5190 - mae: 65.6391 - val_loss: 8076.7896 - val_mae: 66.2692

In [75]:
model.evaluate(X_test, y_test)

274/274 [==============================] - 1s 3ms/step - loss: 19271.8047 - mae: 126.7616

[19271.8046875, 126.7615966796875]

In [76]:
model.predict(X_test)

array([[207.04579],
       [207.04482],
       [206.34885],
       ...,
       [202.96162],
       [191.99907],
       [206.65176]], dtype=float32)

In [95]:
X_test

       year  month  day  hour  DEWP  TEMP    PRES     Iws  Is  Ir
6161   2010      9   14    17    15  31.0  1012.0   12.52   0   0
4378   2010      7    2    10    18  30.0  1000.0    0.89   0   0
37940  2014      4   30    20    10  22.0  1007.0   33.08   0   0
41308  2014      9   18     4    11  11.0  1021.0    3.13   0   0
26930  2013      1   27     2    -8  -5.0  1030.0    1.78   0   0
...     ...    ...  ...   ...   ...   ...     ...     ...  ..  ..
8663   2010     12   27    23   -19  -3.0  1016.0  107.73   0   0
27359  2013      2   13    23    -6  -5.0  1023.0    1.79   0   0
8267   2010     12   11    11   -17   1.0  1023.0   16.09   0   0
24922  2012     11    4    10     2   3.0  1010.0  147.08   0  25
5225   2010      8    6    17    14  29.0  1014.0   16.10   0   0

[8765 rows x 10 columns]

In [96]:
y_test

6161     166.0
4378      34.0
37940     91.0
41308    104.0
26930    347.0
         ...
8663      21.0
27359    384.0
8267      40.0
24922     27.0
5225      20.0
Name: pm2.5, Length: 8765, dtype: float64